/*.row{
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}*/
.main {
  /*height: 300px;*/
  text-align: center;
}
.logo {
    width: 300px;
}
.about {
  width: 580px;
}
.contact {
  width: 400px;
}

ul {
  float: left;
  /*padding: 6px 40px;*/
}

li {
  list-style-type: none;
  display: inline;
  padding: 15px;
}
a {
  /*font-family: 'Special Elite', cursive;*/
  text-decoration: none;
  color: #000;
  display: inline-block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1;
  letter-spacing: 10px;
}
a:hover {
  text-decoration: none;
  color: red;
}
a.about {
  color: white;
  letter-spacing: normal;
  display: inline;
}
.info {
  color: #FFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /*transform: translate(-51%, -85%);*/

}
a.info {
  color: #FFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /*transform: translate(-51%, -85%);*/

}
.contact_info {
  color: #FFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  position: absolute;
  left: 47%;
  top: 55%;
  transform: translate(-50%, -50%);
}
ul.contact_icons {
  position: absolute;
  top: 60%;
  left: 36%;
  color: whitesmoke;
}
.contact_icons a{
  color: whitesmoke;
}
.contact_icons a:hover {
  color: grey;
}
.name {
  text-decoration: none;
  color: #000;
  display: inline-block;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  font-size: 1.5em;
  letter-spacing: 10px;
  padding: 5;
  margin-left: 20%;
  font-family: 'Amatic SC', cursive;
  /*font-family: 'Josefin Slab', serif;*/
}
.port_icons {
  width: 250px;
  /*filter: grayscale(100%);*/
}

.port_icons:hover {
    filter: grayscale(0%);
}
.portfolio {
  width: 580px;
  float: right;
}
.projects {
  position: absolute;
    right: 35%;
    top: 200%;
}
.hecho {
  margin: 5px 44%;
}
.hecho a{
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  letter-spacing: normal;
}
p.hecho {
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: .6em;
  letter-spacing: normal;
}
