.main {
  /*height: 300px;*/
  text-align: center;
  overflow: hidden;
}
.logo {
    width: 300px;
}
.about {
  /*background-image: url("img/brush-stroke-banner-3.png"); */
  /*overflow: hidden;*/
  /*width: 580px;
  margin-top: -2%;*/
}
.contact {
  width: 500px;
  margin: -1%;
}

.nav ul {
  float: left;
  /*padding: 6px 40px;*/
}

.nav li {
  list-style-type: none;
  display: inline;
  padding: 15px;
}
.nav a{
  /*font-family: 'Special Elite', cursive;*/
  text-decoration: none;
  color: #000;
  display: inline-block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1;
  letter-spacing: 10px;
}
a:hover {
  text-decoration: none;
  color: red;
}
a.about {
  color: white;
  letter-spacing: normal;
  display: inline;
}
.me {
  width: 250px;
  position: absolute;
  top: 28%;
  left: 61%;
}
.details {
  position: absolute;
  top: 69%;
  left: 22%;
  width: 500px;
}
.info {
  color: ghostwhite;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
  border: 2px solid ghostwhite;
  padding: 23px;
  position: absolute;
  top: 40%;
  left: 38%;
  width:400px;
  transform: translate(-50%, -50%);
  /*transform: translate(-51%, -85%);*/

}
hr {
  border: 0;
   height: 1px;
   background: #333;
   background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
a.info {
  color: #FFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /*transform: translate(-51%, -85%);*/

}
.contact_info {
  color: ghostwhite;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  position: absolute;
  left: 47%;
  top: 55%;
  transform: translate(-50%, -50%);
}
ul.contact_icons {
  position: absolute;
  top: 60%;
  left: 33%;
  color: crimson;
}
.contact_icons li{
  list-style-type: none;
  display: inline;
  padding: 15px;
}
.contact_icons a i{
  color: crimson;
}
.contact_icons a:hover i{
  color: ghostwhite;
}
.name {
  text-decoration: none;
  color: #000;
  display: inline-block;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  font-size: 1.5em;
  letter-spacing: 10px;
  padding: 5;
  margin-left: 20%;
  font-family: 'Amatic SC', cursive;
  /*font-family: 'Josefin Slab', serif;*/
}
.port_icons {
  width: 250px;
  /*filter: grayscale(100%);*/
}
.port_iconss {
  width: 150px;
  padding: 13px;
}
i {
  color: ghostwhite;
  margin-left: 8px;
}
/*.port_icons:hover {
    width: 300px;
}
.port_iconss:hover {
  width: 200px;*/
}
.portfolio {
  width: 510px;
}
.projects {
  position: absolute;
  right: 38%;
  top: 25%;
}
/*img.port_icons:last-child {
  width: 100px;
}*/
.projects li {
  padding: 6px;
}

.hecho {
  margin: 5px 44%;
}
.hecho a{
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  letter-spacing: normal;
}
p.hecho {
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: .6em;
  letter-spacing: normal;
      text-align: center;
}
.projects li {
  list-style-type: none;
}
.portfolio {
  color: ghostwhite;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
  border: 2px solid ghostwhite;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 69%;
  transform: translate(-50%, -50%);
}
.modal-body a {
  color: black;
}
.modal-body a:hover {
  color: red;
}
.modal-footer {
  text-align: center;
}
.modal.ng-enter {
  transition: opacity .5s ease-out;
  opacity: 0;
}
.modal.ng-enter.ng-enter-active {
  opacity: 1;
}
.modal.ng-leave {
  transition: opacity .5s ease-out;
  opacity: 1;
}
.modal.ng-leave.ng-leave-active {
  opacity: 0;
}
